/* GLOBAL STYLES */

html,
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f3f3;
  font-size: 14px;
}

body {
  position: relative;
}

/* DEFAULT TYPOGRAPHY */

/* DEFAULT LINK */

a {
  cursor: pointer;
  color: var(--color-green);
  text-decoration: none;
}

a:hover {
  color: var(--color-green-darker);
  text-decoration: none;
}

/* DEFAULT BUTTON */

button,
.btn {
  color: white;
  background: var(--bg-green-gradient);
  border: none;
  border-radius: 2px;
  padding: 5px 15px;
  text-align: center;
}

button:hover,
.btn:hover {
  color: white;
  background: var(--bg-green-gradient-hover);
}

button:focus,
.btn:focus {
  box-shadow: none;
  animation-name: buttonClick;
  animation-duration: 0.3s;
}

@keyframes buttonClick {
  0% {
    background: var(--bg-green-gradient-hover);
  }
  50% {
    background: var(--bg-green-gradient-focus);
  }
  100% {
    background: var(--bg-green-gradient-hover);
  }
}

/* DEFAULT INPUTS */

input[type='text'],
select,
input[type='number'] {
  display: block;
  height: 2.5rem;
  padding: 5px 10px;
  color: var(--color-text);
  background-color: white;
  border: 1px solid var(--color-text-disabled);
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select {
  padding: 5px 20px 5px 5px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number-wrapper {
  position: relative;
  width: 68px;
}

input[type='number'] {
  max-width: 100%;
  text-align: center;
  padding-right: 32px;
}

.input-number-btn-wrapper {
  height: 33px;
  width: 22px;
  position: absolute;
  top: 1px;
  right: 1px;
  border-left: 1px solid var(--color-text-disabled);
}

.input-number-btn {
  height: 16px;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
}

.input-number-btn:hover {
  background: var(--bg-green-gradient-hover);
  color: white;
}

.input-number-btn-down {
  border-top: 1px solid var(--color-text-disabled);
}

input[type='text']:focus,
select:focus,
input[type='number']:focus {
  border: 1px solid var(--color-green);
  outline: none !important;
  box-shadow: none !important;
}

input[type='text']::placeholder {
  color: var(--color-text-disabled);
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
}

input[type='radio'] ~ label,
input[type='checkbox'] ~ label {
  position: relative;
  padding: 5px 15px 5px 30px;
}

input[type='radio'] ~ .input-radio-label::before,
input[type='checkbox'] ~ .input-checkbox-label::before {
  position: absolute;
  content: '';
  left: 0px;
  background-color: white;
  border: 1px solid var(--color-text-disabled);
  padding: 10px;
  cursor: pointer;
}

input[type='radio'] ~ .input-radio-label::before {
  border-radius: 50%;
}

input[type='radio']:checked ~ .input-radio-label::after,
input[type='checkbox']:checked ~ .input-checkbox-label::after {
  position: absolute;
  content: '';
  top: 8px;
  left: 9px;
  width: 5px;
  height: 12px;
  border: solid var(--color-green-darker);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input[type='radio']:checked ~ .input-radio-label::after {
  top: 10px;
  left: 9px;
  width: 5px;
  height: 10px;
}

/* clears the 'X' from Internet Explorer */
input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-resultscard-button,
input[type='search']::-webkit-search-resultscard-decoration {
  display: none;
}

/* WYSIWYG */

.warning {
  color: var(--color-red);
}

/* CONTAINER */

.container {
  max-width: 1240px;
}

/* CAPTCHA */

.captcha {
  width: 350px;
  height: 100px;
  border: 1px solid #eaeaea;
  background-color: white;
  margin-bottom: 30px;
}
