html,
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f3f3f3;
  font-size: 13px;
}

body {
  position: relative;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input:focus,
button:focus,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.topAlert {
  background-color: #68ac45;
  font-size: 13px;
  /* z-index: 11111; */
  color: white;
  text-align: center;
  /* z nejakeho duvodu musi mit relative, jinak neni vubec videt */
  position: relative;
  padding: 10px;
  margin: 0;
}

.container {
  max-width: 1240px;
}

.main {
  min-height: 70vh;
  margin-top: 100px;
  padding: 30px 0;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.temporary {
  background-color: #111;
  position: absolute;
  top: 250px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
}

.temporary a {
  font-size: 14px;
  font-weight: 600;
  padding: 5px 20px;
  color: #fff;
}
