:root {
  --color-green: #06ac06;
  --color-green-darker: #047b04;
  --color-gray-light: #999999;
  --color-gray-lighter: #b3b3b3;
  --color-gray: #4d4d4d;
  --color-gray-dark: #333333;
  --color-gray-darker: #1a1a1a;
  --color-text: #262626;
  --color-text-light: #808080;
  --color-text-disabled: #d9d9d9;
  --color-red: #ad160a;
  --bg-green-gradient: linear-gradient(to bottom, #07c507 0%, #046204 100%);
  --bg-green-gradient-hover: linear-gradient(
    to bottom,
    #06ac06 0%,
    #026f03 100%
  );
  --bg-green-gradient-focus: linear-gradient(
    to bottom,
    #059405 0%,
    #034a03 100%
  );
}
