.cart-navigation-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.cart-wrapper {
  background-color: white;
  padding: 25px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-items-number {
  font-size: 22px;
  margin-bottom: 13px;
  background-color: #e9e8e8;
  padding: 5px 20px;
}

.cart-content-thead th {
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-bottom: 1px solid #e5e5e5 !important;
  background: #e9e8e8;
  padding: 5px 10px;
}

.cart-content .cart-content-tbody tr:nth-child(even) {
  background: #f9f8f8;
}

.cart-content .cart-content-tbody tr:hover {
  background-color: #ececec;
}

.cart-content-tbody td {
  border: none;
  padding: 5px 10px;
  vertical-align: middle !important;
}

.cart-image-wrapper {
  display: flex;
  align-items: center;
}

.cart-image {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.cart-image img {
  height: auto;
  max-height: 100%;
}

.cart-extra-wrapper {
  margin: 30px 0;
}

.cart-input-extra {
  font-size: 14px;
}

.cart-button-extra {
  font-size: 14px;
  font-weight: bold;
  background-color: #e9e8e8;
}

.cart-next {
  display: flex;
  justify-content: space-between;
}

.cart-shipment {
  width: 60%;
  margin: 20px 0;
}

.cart-shipment-title {
  margin-bottom: 20px;
}

.cart-shipment-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  background-color: #e9e8e8;
  padding: 2px 15px;
  margin: 10px 0;
}

.cart-shipment-label {
  margin-bottom: 0;
}

.cart-change-contact-info-button {
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  background: linear-gradient(to bottom, #5ab20d 0%, #038003 100%);
  border: none;
  border-radius: 2px;
  padding: 5px 15px;
  margin: 20px 0;
}
.cart-change-contact-info-button:hover {
  color: white;
  font-weight: 600;
  background: linear-gradient(to bottom, #55a90c 0%, #026f03 100%);
}

.cart-add-shipment-info {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.cart-add-shipment-info label {
  margin-left: 15px;
}

.cart-summary-discounts,
.cart-summary-shipment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.cart-confirm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
