.wrapper {
  background-color: #222323;
}

.text {
  font-size: 14px;
  color: white;
  padding: 8px 0;
}

.text:hover {
  text-decoration: none;
  color: #59b20e;
}

.copyright {
  font-size: 13px;
  color: #666666;
}

.payment img {
  margin-left: 5px;
  padding: 5px;
  background-color: #fff;
}
