.wrapper {
  height: 120px;
  background-color: #222323;
}

.links {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social {
  justify-content: center;
  align-items: center;
}

.payment {
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

.copyright {
  font-size: 13px;
  color: #666666;
}

.text:hover {
  color: #59b20e;
}
