a:hover {
  text-decoration: none;
}

.headerTop {
  background-color: #333333;
}

.headerWrapper .nav-tabs {
  border-bottom: 0px solid #dee2e6;
}

.headerWrapper a {
  color: white;
}

.headerTop {
  font-size: 13px;
  color: #fff;
}

.headerTop a {
  padding: 0.2rem 1rem;
}

.navMidle {
  padding: 0;
}

.currency {
  color: #888;
}

.currency .linkcurrency {
  padding: 0 6px;
  color: #888;
}

.currency .active {
  color: #57b00c;
  font-weight: bold;
}

.bonus {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Kosik {
  padding: 0px 20px;
  font-size: 20px;
  background-color: rgb(124, 2, 2);
}

.Kosik:hover {
  background-color: #ad0606;
}
a.Kosik {
  color: #fff;
  text-decoration: none;
}
.cart-ico {
  fill: #fff;
}

.headerLast {
  background: linear-gradient(to bottom, #262727 0%, #222323 100%);
  height: 42px;
  font-size: 14px;
}

.headerLast .nav-tabs .nav-item a {
  line-height: 42px;
}

.headerLast .nav-tabs a {
  text-transform: uppercase;
  padding: 0 15px;
  color: white;
}

.headerLast .nav-tabs a:hover {
  background: linear-gradient(to bottom, #5ab20d 0%, #038004 100%);
}

.headerLast .nav-tabs a.active {
  background: linear-gradient(to bottom, #5ab20d 0%, #038004 100%);
}

.list-inline-item a {
  color: white;
}

.list-inline-item a:hover {
  color: #59b20e;
}

.dropdown-menu li a {
  color: black;
}

.searchWrapper {
  position: relative;
  outline: none;
}

.searchButton {
  background: #59b20e;
  background: linear-gradient(to bottom, #59b20e 0%, #038004 100%);
  position: absolute;
  right: 0;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.searchButton img svg path {
  color: white;
}

.cartItems {
  background-color: #222323;
  padding: 5px;
  margin: 0 8px;
}

.cartAmount {
  font-size: 16px;
  font-weight: 600;
  margin-left: 2px;
}

.mainLogo {
  background: #dadada;
}
