.navMidle {
  padding: 0;
}

.mainLogo {
  background: #dadada;
}

.searchWrapper {
  position: relative;
  outline: none;
}

.searchWrapper input {
  height: 34px;
}

.searchWrapper .form-control {
  border: 0px solid #fff;
}

.search {
  padding-right: 54px;
}

.searchButton {
  background: #59b20e;
  background: linear-gradient(to bottom, #59b20e 0%, #038004 100%);
  position: absolute;
  right: 0;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.searchButton img svg path {
  color: white;
}

.bonus {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cartItems {
  background-color: #222323;
  padding: 5px;
  margin: 0 8px;
}

.cartAmount {
  font-size: 16px;
  font-weight: 600;
  margin-left: 2px;
}
