.navMidle {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.searchWrapper {
  position: relative;
  outline: none;
  display: flex;
  justify-content: flex-end;
}

.searchWrapper input {
  height: 34px;
}

.searchWrapper .form-control {
  border: 0px solid #fff;
  margin-left: 20px;
}

.appLightTheme .searchWrapper .form-control {
  border: 1px solid green;
}

.search {
  padding-right: 54px;
}

.searchButton {
  background: #59b20e;
  background: linear-gradient(to bottom, #59b20e 0%, #038004 100%);
  position: absolute;
  right: 0;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


.searchButton:hover {
  background: linear-gradient(to bottom, #55a90c 0%, #026f03 100%);
}

.appRed .searchButton{
  background: linear-gradient(to bottom, #f25a2d 0%, #be2514 100%);
}

.appRed .searchButton:hover{
  background: linear-gradient(to bottom, #e4552a 0%, #af2414 100%);
}

.bonusCartWraper {
  display: flex;
  align-items: flex-end;
  height: 46px;
}

.bonusCartWraper a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 24px;
}

.bonusCartWraper img {
  vertical-align: text-bottom;
}

.bonus,
.credit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  line-height: 24px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  line-height: 24px;
}

.cart img {
  vertical-align: text-bottom;
}

.appLightTheme .cart img {
  color: #333333;
}

.cartItems {
  font-weight: 500;
  font-size: 14px;
  margin: 2px 0;
  padding: 4px;
}

.cartAmount {
  font-size: 16px;
  font-weight: 600;
  margin-left: 2px;
  padding: 4px;
}

.cart a:hover .cartAmount,
.bonus a:hover .cartAmount,
.credit a:hover .cartAmount {
  color: #59b20e;
}

.appRed .cart a:hover .cartAmount,
.appRed .bonus a:hover .cartAmount,
.appRed .credit a:hover .cartAmount {
  color: #f25a2d;
}

.dark {
  display: inline-block;
}

.light {
  display: none;
}

.appLightTheme .dark  {
  display: none;
}

.appLightTheme .light {
  display: inline-block;
}
