
.headerTop {
  background-color: #333333;
}

.headerWrapper .nav-tabs {
  border-bottom: 0px solid #dee2e6;
}

.headerWrapper a {
  color: black;
}

.headerTop {
  font-size: 13px;
  color: #fff;
}

.headerTop a {
  padding: 0.2rem 1rem;
}

.navMidle {
  padding: 0 0 10px;
}

.headerBottom a {
  padding: 0.3rem 1rem;
  background: #222;
}

.navEdice {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-bottom: 15px;
}
.navEdice li {
  transition: all 0.3s ease 0s;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}
.navEdice a {
  padding: 13px 15px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.2px;
  font-size: 14px;
  border-bottom: 1px solid #eaeaea;
}
.navEdice a:hover {
  background-color: #f1f1f1;
}

.itemBox .card-title {
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.itemBox .card-price {
  text-align: right;
  font-size: 14px;
}
.itemBox .card-body {
  padding-top: 0px;
}
.itemBox .card-btn {
  text-align: right;
}

.Kosik {
  padding: 10px 20px;
  font-size: 20px;
  background-color: rgb(124, 2, 2);
}
a.Kosik {
  color: #fff;
}
.cart-ico {
  fill: #fff;
}

.headerLast {
  background-color: #222;
}
.customW400 {
  width:400px !important;
}

