.headerTop {
  padding-bottom: 10px;
}

.headerWrapper a,
.headerWrapper button {
  color: white;
}

.headerControls a:hover,
.headerWrapper button:hover {
  text-decoration: none;
  color: #59b20e;
}

.headerWrapper {
  background-color: #333333;
  font-size: 13px;
  color: #fff;
}

.headerWrapper a {
  padding: 0.2rem 1rem;
}

.currency {
  color: #888;
}

.currency .linkcurrency {
  padding: 0 6px;
  color: #888;
}

.currency .active {
  color: #57b00c;
  font-weight: bold;
}

.alertText {
  text-align: left;
}

.logoWrapper {
  display: flex;
}

a.navbar-brand {
  padding: 0;
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
  width: auto;
}
