.headerTabs {
  background: linear-gradient(to bottom, #262727 0%, #222323 100%);
}
.appLightTheme .headerTabs {
  background: linear-gradient(to bottom, #4e4e4e 0%, #252525 100%);
}

.headerTabs .nav-tabs {
  border-bottom: 0px solid #dee2e6;
}

.headerTabs .nav-tabs .nav-item {
  margin-bottom: 0px;
}

.headerTabs a {
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 18px;
  color: white !important;
  line-height: 42px;
  letter-spacing: 1px;
  border-right: 1px solid #222;
}

.headerTabs a:hover,
.headerTabs a.active {
  color: white;
  background: linear-gradient(to bottom, #5ab20d 0%, #038004 100%);
}

.appRed .headerTabs a:hover,
.appRed .headerTabs a.active {
  background: linear-gradient(to bottom, #f25a2d 0%, #be2514 100%);
}

