.kartaDetail {
  background: white;
  min-height: 500px;
  margin: 0 0 20px 0;
}

.kartaDetail .gallery {
  padding: 30px;
}

.kartaDetail .mainImg {
  display: flex;
  justify-content: center;
}

.kartaDetail .imageKarta {
  width: 300px;
  height: auto;
  border: solid 7px black;
  border-radius: 10px;
  overflow: hidden;
}

.kartaDetail .content {
  padding: 30px;
  max-height: 500px;
  overflow-y: auto;
}

.kartaDetail .content h2 {
  font-weight: 600;
}

.kartaDetail .symbol {
  height: 24px;
  width: auto;
  margin-top: -10px;
  margin-left: 10px;
}

.kartaDetail .mana img {
  height: 22px;
  width: auto;
}

.kartaDetail .stav img {
  height: 25px;
  width: auto;
}

.language {
  color: white;
  font-size: 13px;
  text-align: center;
  background: linear-gradient(to bottom, #5ab20d 0%, #038004 100%);
  border: none;
  border-radius: 2px;
  padding: 3px 15px;
}

.language:hover {
  color: white;
  background: linear-gradient(to bottom, #55a90c 0%, #026f03 100%);
}

.kartaDetail .text p {
  margin: 15px 0;
}

.kartaDetail .buy {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.kartaDetail .price {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.kartaDetail .skladem {
  color: green;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}
