.productWrapper .navigace {
  padding-bottom: 20px;
}

.productDetail {
  background: white;
  min-height: 500px;
  margin: 0 0 20px 0;
}

.productCode {
  font-style: italic;
  color: #777;
  margin-bottom: 20px;
}

.productDetail .gallery {
  padding: 30px;
}

.productDetail .imageKarta {
  width: 300px;
  height: auto;
}

.productDetail .text p {
  margin: 15px 0;
}

.mainImg {
  display: flex;
  justify-content: center;
}

.imageKarta {
  border: solid 7px black;
  border-radius: 10px;
  overflow: hidden;
}

.nahledy {
  margin-top: 20px;
}

.productDetail .content {
  padding: 30px;
  max-height: 500px;
  overflow: scroll;
}

.language {
  color: white;
  font-size: 13px;
  text-align: center;
  background: linear-gradient(to bottom, #5ab20d 0%, #038004 100%);
  border: none;
  border-radius: 2px;
  padding: 3px 15px;
}

.language:hover {
  color: white;
  background: linear-gradient(to bottom, #55a90c 0%, #026f03 100%);
}

.productDetail .buy {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cardPrice {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.skladem {
  color: green;
  justify-content: flex-end;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 14px;
}

.koupit {
  justify-content: flex-end;
}

.productDetail .symbol {
  height: 24px;
  width: auto;
  margin-top: -10px;
  margin-left: 10px;
}
