.news {
  background-color: #fff;
  margin: 0px 0 0 -15px;
  padding: 15px;
  height: 400px;
  display: flex;
}

.news h2 {
  margin-bottom: 20px;
}

.card-img-top {
  height: auto;
  width: 90%;
  margin:0px auto 0;
}

.newsText {
  margin-top: 10px;
  line-height: 1.7;
}

.newsText a {
  color: #59b20e;

}

.more {
  display: flex;
  align-items: flex-end;
}

.more a {
  color: #59b20e;
  font-weight: 600;
  font-size: 14px;
  padding: 3px 10px;
  border-radius: 2px;
}

.more a:hover {
  background: linear-gradient(to bottom, #5ab20d 0%, #038004 100%);
  color:#fff;
  text-decoration: none;
}

.news .title {
  border-bottom: 1px solid #f3f3f3;
  padding: 0 0px;
  margin-bottom: 10px;
}

.news h2 {
  margin-bottom:10px;
}

.vice {
  padding-top:10px;
  text-align: right;
}

/* predelat ! */
.vice a, .dalsiAktuality a {
color: green;
}

.news .obal {
  padding: 0;
}

.dalsiAktuality {
 text-align: center;
}
