.produktDetail {
  background: white;
  min-height: 500px;
  margin: 0 0 20px 0;
}

.produktDetail .gallery {
  padding: 30px;
}

.produktDetail .mainImg,
.produktDetail .nahled {
  display: flex;
  justify-content: center;
}

.produktDetail .nahledy {
  margin-top: 20px;
}

.produktDetail .nahledy img {
  width: 100px;
}

.produktDetail .mainImg img {
  width: 300px;
  height: auto;
}

.produktDetail .content {
  padding: 30px;
  max-height: 500px;
  overflow-y: auto;
}

.produktDetail .content h2 {
  font-weight: 600;
}

.produktDetail .text {
  margin-bottom: 60px;
}

.produktDetail .buy {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.produktDetail .price {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.produktDetail .skladem {
  color: green;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
}
