/* PRODUCT BOXES

.productsBoxes {
  margin: 20px 10px;
}
.productsBoxes .Box {
  padding-left: 5px;
  padding-right: 5px;
}

PRODUKT ITEM

.produktItem {
  background-color: #fff;
  margin: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.produktItem img {
  width: 80px;
  height: auto;
}

.produktItem__cena {
  padding-top: 15px;
}

.produktItem .card-text {
  max-height: 50px;
  overflow: hidden;
}

.novinka {
  background-color: #fff;
  margin: 20px 0px;
}

.novinka img {
  min-width: 200px;
  padding: 20px 0;
}

.novinka .produktItem__text {
  padding: 20px 0 20px 20px;
}

.novinka .produktItem__cena {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.novinka .more {
  display:flex;
  justify-content:flex-end;
  align-items: flex-end;
  margin-bottom: 20px;
  font-weight:bold;
}

.novinka .more a {
  margin-right:20px;
}

.News {
  padding: 30px;
  background-color: #fff;
  margin: 20px 0px;
}

.detail {
  background-color: #fff;
  margin: 20px 0px;
  padding: 30px;
}

.nahled img {
  width: 50px;
} */

.products {
  background-color: #fff;
  margin: 15px 0;
  padding: 25px;
}

.products h2 {
  margin-bottom: 20px;
}

.card-img-top {
  height: auto;
  width: 100%;
}

.card {
  border-color: #00000000;
  /* box-shadow: 0px 0px 4px #00000024; */
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
  border-radius: 2px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-title {
  font-weight: 600;
}

.cardButton {
  text-align: center;
  border-radius: 2px;

  color: white;
  background: linear-gradient(to bottom, #5ab20d 0%, #038004 100%);
}

.cardButton a {
  color: white;
  padding:3px 15px;
  font-size: 14px;
  font-weight: 600;
}

/* .cardButton:hover {
  border: none;
  box-shadow:none;
} */

.cardButton:hover a {
  color: white;
  font-weight: 700;
  background: linear-gradient(to bottom, #55a90c 0%, #026f03 100%);
}
