.zpetNavigace {
  margin-top: -15px;
  padding-bottom: 20px;
}
.zpetButton {
  color: white;
  font-size: 13px;
  text-align: center;
  background: linear-gradient(to bottom, #5ab20d 0%, #038004 100%);
  border: none;
  border-radius: 2px;
  padding: 3px 15px;
}
.zpetButton:hover {
  color: white;
  background: linear-gradient(to bottom, #55a90c 0%, #026f03 100%);
}
