body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* VYŘEŠIT BARVY A TUDÍŽ OUTLINE INPUTŮ */
/* .form-control:focus {
  border-color: #80ffa6;
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 55, 0.25);
} */
.temorarymenu a {
  padding: 2px 10px;
}
.temorarymenu ul{
  margin: 0 ;
}

html,
body {
  /* background-color: #f8f9fa!important; */
  background-color: #f3f3f3;
}
body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* nvm coment */
.main {
  min-height:70vh;
  margin-top: 170px;
  padding: 30px 0 40px;
}
@media (min-width: 1260px) {
  .container {
    max-width: 1240px;
  }
}
.container {
  max-width: 1240px;
}
.placeholder-menu {
  position: fixed;
  left: 0;
  top: 200px;
  width: 200px;
  padding: 0 10px;
  height: auto;
  border: solid 1px purple;
  z-index: 10000;
  background-color: #fff;
  opacity: 0.15;
}
.placeholder-menu:hover {
  opacity: 1;
}
.placeholder-menu a {
  line-height: 36px;
  display: block;
}

.card-img-top {
  height: auto;
  width: 180px;
  margin: 15px auto;
}

/* HEADER TOP */
.headerWrapper {
  background-color: rgb(145, 145, 145);
  border-bottom: solid 1px #666666;
}
.headerWrapper .nav-tabs {
  border-bottom: 0px solid #dee2e6;
}

.headerWrapper a {
  color: black;
}

.headerTop {
  font-size: 13px;
  color: #fff;
}

.headerTop a {
  padding: 0.2rem 1rem;
}

.navMidle {
  padding: 0 0 10px;
}

.headerBottom a {
  padding: 0.3rem 1rem;
}

.navEdice {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-bottom: 15px;
}
.navEdice li {
  transition: all 0.3s ease 0s;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}
.navEdice a {
  padding: 13px 15px;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.2px;
  font-size: 14px;
  border-bottom: 1px solid #eaeaea;
}
.navEdice a:hover {
  background-color: #f1f1f1;
}

.itemBox .card-title {
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.itemBox .card-price {
  text-align: right;
  font-size: 14px;
}
.itemBox .card-body {
  padding-top: 0px;
}
.itemBox .card-btn {
  text-align: right;
}

.Kosik {
  padding: 10px 20px;
  font-size: 20px;
  background-color: rgb(124, 2, 2);
}
a.Kosik {
  color: #fff;
}
.cart-ico {
  fill: #fff;
}

/* PRODUCT BOXES */

.productsBoxes {
  margin: 20px 0;
}
.productsBoxes .Box {
  padding-left: 5px;
  padding-right: 5px;
}

/* PRODUKT ITEM */

.produktItem {
  background-color: #fff;
  margin: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.produktItem img {
  width: 80px;
  height: auto;
}

.produktItem__text {
  padding-top: 15px;
}
.produktItem__cena {
  padding-top: 15px;
}

.produktItem .card-text {
  max-height: 50px;
  overflow: hidden;
}

.novinka {
  background-color: #fff;
  margin: 20px 0px;
}

.novinka img {
  width: 200px;
}
.novinka .produktItem__text {
  padding: 50px 0;
}

.novinka .produktItem__cena {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.News {
  padding: 30px;
  background-color: #fff;
  margin: 20px -10px;
}

.detail {
  background-color: #fff;
  margin: 20px 0px;
  padding: 30px;
}

.nahled img {
  width: 50px;
}

.customW400 {
  width: 400px;
}

.pt30 {
  padding-top: 30px;
}


.temorarymenu {
  background-color: #666; 
}
